# Claves de API para El Localizador
# Renombra este archivo a .env y coloca tus claves correspondientes

# Obtén tu clave gratuita de OpenTripMap registrándote en https://opentripmap.io/
VITE_OPENTRIPMAP_KEY=tu_opentripmap_api_key_aqui

# Obtén tu clave gratuita de Unsplash Developer registrándote en https://unsplash.com/developers
VITE_UNSPLASH_KEY=tu_unsplash_access_key_aqui
